{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    <meta charset="UTF-8">
    <title>Simple Market?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
